* {
  font-family: sans-serif;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.container {
  display: flex;
  flex: 0 1 349px;
  flex-direction: column;
  position: relative;
  width: 825px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px solid #333;
}

.all-product-information {
  display: flex;
  justify-content: space-between;
}

.product-image-container {
  display: flex;
}
.product-description-container {
  display: flex;
  flex: 0 1 240px;
  flex-direction: column;
}
.product-details-container {
  width: 240px;
  margin-right: 20px;
}
.sale-sticker {
  position: absolute;

  top: -20px;
  left: -45px;
  width: 90px;
  height: 30px;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 5px;
}

.product-image {
  width: 240px;
}

.price-shipping-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping {
  color: #aaa;
}

h1,
h3,
h5,
.add-to-cart {
  text-transform: uppercase;
}

header {
  padding: 15px 10px;
  background-color: #eee;
  /* clear: both; */
}

footer {
  height: 40px;
}

h1 {
  font-size: 25px;
  text-align: center;
}

h3 {
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

li::marker {
  content: "◾";
}

.details-list li {
  padding-left: 5px;
  margin: 10px 0;
}

ul {
  padding-left: 15px;
}

nav {
  position: absolute;
  top: 20px;
  right: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

.add-to-cart {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 5px solid #333;
  clear: both;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #333;
}
.information-link:link,
.information-link:link:visited {
  color: #333;
}
.information-link:link:hover,
.information-link:link:active {
  text-decoration: none;
}

.price {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
}

.available-colors {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.color {
  width: 15px;
  height: 15px;
}
.color:nth-child(1) {
  background-color: black;
}
.color:nth-child(2) {
  background-color: blue;
}
.color:nth-child(3) {
  background-color: red;
}
.color:nth-child(4) {
  background-color: yellow;
}
.color:nth-child(5) {
  background-color: green;
}
.color:nth-child(6) {
  background-color: rgb(124, 67, 67);
}
