* {
  color: #444;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 5px solid #1098ad;
  position: relative;
}

.main-container {
  width: 1325px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
  /* height: 80px; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  flex: 0 0 300px;
}

article {
  flex: 1;
}
.article-header {
  margin-bottom: 40px;
  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -20px;
}

h2::first-letter {
  /* font-size: 60px; */
}

h3 {
  font-size: 30px;
  border-top: 5px solid #1098ad;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
  margin: 10px 0;
}

li:first-child {
  /* font-weight: bold; */
}

li:last-child {
  margin-bottom: 0;
  /* font-style: italic; */
}

li:nth-child(2) {
  /* color: red; */
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h3 + p::first-line {
  /* color: red; */
}

footer p {
  font-size: 16 px;
}

#author {
  font-style: italic;
  font-size: 18px;
  margin: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
  margin: 0;
}

/* Styling hyperlinks */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}
/* when the link is hovered by the mouse cursor */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
/* when a link is actually clicked */
a:active {
  background-color: #000;
  font-style: italic;
}
/* resolving selector conflicts */
/* #copyright {
  font-size: 16px;
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* Inheritance */
nav {
  font-size: 18px;
  text-align: center;
}

nav a:link {
  display: inline-block;
  margin-right: 10px;
}
nav a:link:last-child {
  margin-right: 0;
}

.article-image {
  width: 100%;
  height: auto;
}

.like-btn {
  width: 100px;
  height: 50px;
  font-size: 22px;
  position: absolute;
  right: 100px;
  bottom: 5%;
  cursor: pointer;
}

/* Floats */
/*
.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}


h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}
.clear-fix::after {
  display: block;
  content: "";
  clear: both;
}

article {
  width: 825px;
  float: left;
}
aside {
  float: right;
  width: 300px;
}
footer {
  clear: both;
}
*/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.related-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.related-description {
  width: 250px;
  display: inline-block;
  flex-direction: column;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related-post {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}
